.contFooter{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    height: 100px;
    text-align: center;
    background: rgb(236,215,229);
    background: linear-gradient(13deg, rgba(236,215,229,1) 19%, rgba(255,158,128,1) 63%);
}

/*For Mobile*/
  @media only screen and (min-width: 320px) { /*iPhone 5/SE on dev chrome*/
    /* styles for mobile browsers smaller than 320px; (iPhone) */
     .contFooter{
         height: 70px;
         align-items: flex-start;
         bottom: 0px;
     }
   }

   @media only screen and (min-width: 360px) { /*motoG4,Galaxy5 on dev chrome*/
    /* styles for mobile browsers smaller than 360px; (iPhone) */
     .contFooter{
         height: 90px;
         align-items: flex-start;
         bottom: 15px;
     }
   }

   @media only screen and (min-width: 375px) { /*iPhone 6/7/8 on dev chrome*/
    /* styles for mobile browsers smaller than 375px; (iPhone) */
     .contFooter{
         height: 120px;
         align-items: flex-start;
         bottom: 15px;
     }
   }

   @media only screen and (min-width: 411px) { /*Pixel2, iPhone 6/7/8+ on dev chrome*/
    /* styles for mobile browsers smaller than 375px; (iPhone) */
     .contFooter{
         height: 190px;
         align-items: flex-start;
         bottom: 15px;
     }
   }
/************************************************************/

/*For Desktop*/
@media only screen and (min-width: 960px) { /*80% and 100% zoom in my monitor with res 1360*/
    /* styles for browsers larger than 960px; */
    .contFooter{
        height: 90px;
        align-items: center;
        bottom: 0px;
    }
  }
  
/***************************************************************************/
