.flex-footer{
    display: flex;
    justify-content: center;
    color: rgb(236, 39, 39);
}

.Link-footer{
    color: rgb(236, 39, 39);
    text-decoration: none;
}

.Link-footer:hover{
    color:#2d65cc
}