.bck {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background: rgb(236,215,229);
    background: linear-gradient(13deg, rgba(236,215,229,1) 19%, rgba(255,158,128,1) 63%);
  }
  /****************************************************/

  .only-width-height-loginComp{
    margin:auto auto;
    margin-top: 10vh;
    width:30%
  }

  .only-width-height-signUpComp{
    margin:auto auto;
    margin-top: 0;
    width:30%
  }

  .titleLogin{
    /* font-family: 'Trade Winds', cursive;   */
    font-size: 4rem;
    font-weight: 400;
    color: #ffffffd5;
    text-align: center;
  }

  .titleSignup{
    /* font-family: 'Trade Winds', cursive;   */
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0px;
    color: #ffffffd5;
    text-align: center;
  }

  .only-width-height-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background:"transparent";
    color: #fff;
    position: fixed;
    bottom: 0px;
    cursor: default;
  }


  @media only screen and (max-width: 767px){
    .only-width-height-loginComp{
        margin:auto auto;
        margin-top: 5vh;
        width:75%
      }
      .only-width-height-signUpComp{
        margin:auto auto;
        margin-top: 0;
        margin-bottom: 20;
        width:75%
      }
  }

  @media only screen and (min-width: 768px) and (max-width:991px){

    .only-width-height-loginComp{
        margin:auto auto;
        margin-top: 15vh;
        width:80%
      }
    .only-width-height-signUpComp{
        margin:auto auto;
        margin-top: 0;
        margin-bottom: 20;
        width:80%
      }
  }