.contForm {
    display: block;
    margin: 0 auto;
    text-align: left;
    /* font-family: 'Font Genshin'; */
    width: 100%;
  }

  .divForm {
    margin: 24px 0;
  }

  .progress{
    position: "absolute"
  }
  
  .labelForm {
    display: block;
    font-size: 18px;
    color: rgb(241, 235, 235);
    margin-bottom: 4px;
  }
  
  .inputField {
    /* font-family: 'Font Genshin regular'; */
    padding-left: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    height: 28px;
    width: 100%;
  }
  
  .errorMsg {
    color: #d41a1a;
    font-size: 12px;
    margin: 4px 0 8px 0;
  }
  
  .buttonForm {
    position: "relative";
    width: 100%;
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
  }

  .buttonForm:hover{
    width: 100%;
    background: #d41a1a;
    /* border: 1px solid #e5e5e5; */
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
  }

  .customError{
      color: red;
      font-size: 0.8rem;
      text-align: center;
  }

  .text-forget-password{
      display: flex;
      justify-content: flex-end;
      color:  #fff;
      font-size: 1.2rem;
  }

  .cursorText{
      cursor:pointer;
  }

  .cursorText:hover{
      color:#d41a1a;
  }

  .flex-text{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      background-color: #2d65cc;
      border-radius: 6px;
      color: #fff;
      font-size: 17px;
      font-weight: 500;
  }

  .regHover{
      color: rgba(4, 49, 173, 0.815);
      cursor: pointer;
  }

  .regHover:hover{
    color: #d41a1a;
  }

  @media only screen and (max-width: 767px){
    .flex-text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: #2d65cc;
        border-radius: 6px;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
    }
    .text-forget-password{
        display: flex;
        justify-content: flex-end;
        color:  #fff;
        font-size: 1rem;
    }

  }