::-webkit-scrollbar{
    height: 8px;
    width: 2px;
    background: gray;
}
::-webkit-scrollbar:vertical{
    height: 8px;
    width: 10px;
    background: rgb(236, 229, 229);
}

/*untuk memunculkan dan warnaiin button atas/bawah pada scroll*/
::-webkit-scrollbar-button{
    height: 3px;
    background: rgb(71, 68, 65);
}

/* untuk memunculkan dan warnaiin batang bar scroll */
::-webkit-scrollbar-thumb:horizontal{
    background: rgba(233, 119, 25, 0.76);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical{
    background: rgba(87, 82, 79, 0.76);
    border-radius: 10px;
}


@media only screen and (min-width: 640px) {
  
    ::-webkit-scrollbar{
        height: 6px;
        width: 2px;
        background: gray;
    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: rgba(233, 119, 25, 0.76);
        border-radius: 10px;
    }
}