
html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(236,215,229);
  background: linear-gradient(13deg, rgba(236,215,229,1) 19%, rgba(255,158,128,1) 63%);
}
.containerAPP{
  position: relative;
  margin: 0; 
  max-width: '100%';
  /* height: 280vw; */
  height: 160vw;
  background: rgb(236,215,229);
  background: linear-gradient(13deg, rgba(236,215,229,1) 19%, rgba(255,158,128,1) 63%);
}



/*For Mobile*/

@media only screen and (min-width: 320px) { /*iPhone 5/SE on dev chrome*/
  /* styles for mobile browsers smaller than 320px; (iPhone) */
  .containerAPP{
    height: 290vw;
  }
}

@media only screen and (min-width: 360px) { /*motoG4,Galaxy5 on dev chrome*/
  /* styles for mobile browsers smaller than 320px; (iPhone) */
  .containerAPP{
    height: 280vw;
  }
}

@media only screen and (min-width: 375px) { /*iPhone 6/7/8 on dev chrome*/
  /* styles for mobile browsers smaller than 320px; (iPhone) */
  .containerAPP{
    height: 275vw;
  }
}

@media only screen and (min-width: 411px) { /*pixel2, iPhone 6/7/8+ on dev chrome*/
  /* styles for mobile browsers smaller than 320px; (iPhone) */
  .containerAPP{
    height: 285vw;
  }
}

/*************************************************************************/

/*For Desktop*/

@media only screen and (min-width: 960px) { /*80% and 100% zoom in my monitor with res 1360*/
  /* styles for browsers larger than 960px; */
  .containerAPP{
     height: 163vw;
  }
}

@media only screen and (min-width: 1440px) { /*75% zoom in my monitor with res 1360*/
  /* styles for browsers larger than 1440px; */
  .containerAPP{
    height: 153vw;
  }
}

@media only screen and (min-width: 2000px) { /*67% zoom in my monitor with res 1360*/
  /* for sumo sized (mac) screens */
  .containerAPP{
    height: 150vw;
  }
}

/**************************************************************************/

